<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/master.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title>To-vue List</title>
</head>

<body>
    <div id="root">
        <input type="text" v-model="myToDo">
        <button @click="addToDo">Invia</button>
        <ul>
            <li v-for="(toDo, index) in toDoList">{{toDo}}<span @click="deleteToDo(index)"><strong> X</strong></span></li>
        </ul>
    </div>

    <script src="js/main.js"></script>
</body>

</html>